/*-----------------------------------*\
            ALEXIS MOUREY
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, ion-icon, a, button, time, span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: #70b3ff;
  color: #121212;
}

:focus { 
  outline-color: #70b3ff; 
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #121212;
}

.avatar img {
  border-radius: 50%;
  border: 2px solid #70b3ff;
  width: 120px;
}

.info-content .name {
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 15px;
  white-space: nowrap;
  text-align: center;
}

.info-content .title {
  color: #ffffff;
  background: #2b2b2c;
  font-size: 11px;
  font-weight: 300;
  width: max-content;
  border-radius: 8px;
}

.leftbox {
  background: #171717;
  border: 1px solid #70b3ff;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  position: sticky;
  top: 60px;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 60px;
  z-index: 1;
}

.leftbox-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.leftbox-info-content {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.leftbox-info-content .title {
  color: #fff;
  background: #70b3ff;
  font-size: 12px;
  font-weight: 300;
  width: max-content;
  padding: 5px 18px;
  border-radius: 8px;
  margin-top: 5px;
  display: inline-block;
}

.leftbox-info-content .name {
  color: #e9e9e9;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 15px;
  white-space: nowrap;
  text-align: center;
}